#page1,
#page2{
	border-right: solid 1px #DDDDDD;
	border-left: solid 1px #DDDDDD;
	border-bottom: solid 1px #DDDDDD;
}

#page1>div>div{
	height: 50px;
}

#page1>div>textarea{
	margin-left: 15px;
	margin-bottom: 15px;
}

#page1>div>span{
	line-height: 50px;
	font-size: 20px;
	font-weight: 900;
}

#sendtestnumbtn{
	width: 130px;
}

#regbtn{
	width: 150px;
	padding: 10px;
	font-size: 18px;
}

#sendtestnumbtn{
	height: 25px;
}
