<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.dao.DressDao">

	<select id="findDressById" parameterType="int"
		resultType="Dress">
		select * from dress where dressid=#{0}
	</select>
	<select id="findDressPage" parameterType="java.util.HashMap"
		resultType="Dress">
		select * from dress
		<where>
			<if test="dressname!=null and dressname!=''">
				and dressname like '%' #{dressname} '%'
			</if>
			<if test="category!=null and category!=''">
				and category=#{category}
			</if>
			<if test="minprice > 0.0">
				AND price <![CDATA[  >=  ]]>
				#{minprice}
			</if>
			<if test="maxprice > 0.0">
				AND price<![CDATA[ <= ]]>#{maxprice}
			</if>
		</where>
		limit #{startRow},#{pageSize}
	</select>



	<select id="findDressCount" parameterType="java.util.HashMap"
		resultType="int">
		SELECT count(*) FROM dress
		<where>
			<if test="dressname!=null and dressname!=''">
				and dressname like '%' #{dressname} '%'
			</if>
			<if test="category!=null and category!=''">
				and category=#{category}
			</if>
			<if test="minprice > 0.0">
				AND price >= #{minprice}
			</if>
			<if test="maxprice > 0.0">
				AND price <![CDATA[ <= ]]>
				#{maxprice}
			</if>
		</where>
	</select>
	<update id="updateDress" parameterType="Dress">
		UPDATE dress SET
		quantity=#{quantity},sales=#{sales} WHERE dressid= #{dressid}
	</update>
</mapper>